.header {
  width: 100vw;
  height: 60px;
  background-color: white;
  display: flex;
  position: relative;
  &__contents {
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  &--logo {
    color:#000044;
    font-weight: bold;
    font-size: 25px;
    }
  }
  &__search {
    position: absolute;
    top: 15px;
    right: 250px;
    #search-form{

      #search-field {
        width: 250px;
        background-color: #EEEEEE;
      }
      #search-btn {
        width: 70px;
      }
    }
  }
  &__btn {
    position: absolute;
    top: 15px;
    right: 50px;
    width: 80px;
    height: 30px;
    background-color: #000044;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}