.introduce {
  height: 300px;
  width: 100vw;
  background-image: url("/assets/intro.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
  }
}